
  <header>
    <nav>
      <div class="logo">
        <div class="EA-MenuLink">
          <p>Logo</p>
          <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/submit-enquiry" routerLinkActive="active">submit-enquiry</a></li>

            @if (isLoggedIn) {
            <li><a routerLink="/enquiry-list-com" routerLinkActive="active">enquiry-list-com</a></li>
            }
            
          </ul>
        </div>


        <!-- <button class="EA-Login-Btn" routerLink="/login" routerLinkActive="active">Login</button> -->
        @if (!isLoggedIn) {
        <button class="EA-Login-Btn" routerLink="/login">
          Login
        </button>
        } @else {
        <button class="EA-Login-Btn" (click)="logout()">
          Log Out
        </button>
        }
        <!-- <button *ngIf="!isLoggedIn" class="EA-Login-Btn" routerLink="/login">
          Login
        </button>

        <button *ngIf="isLoggedIn" class="EA-Login-Btn" (click)="logout()">
          Log Off
        </button> -->
      </div>
    </nav>
  </header>

<app-custom-alert></app-custom-alert>
<app-confirm-alert></app-confirm-alert>
<router-outlet />